/* PALETA RETRO

Azul oscuro: #00008B (Dark Blue)
Azul marino: #0000CD (Medium Blue)
Azul cobalto: #0047AB
Azul cielo: #87CEEB
Celeste claro: #B0C4DE
Blanco: #FFFFFF


*/
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #0f0f0f;
}
div,form {
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}


.boton-amarillo {
  background-color: #ffd000;
  color: #2a2929;
  font-weight: bold;
  height: 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(255, 208, 0, 0.5); /* Sombra */

}

.boton-negro {
  background-color: #443E46;
  color: #F6DEB8;
  font-weight: bold;
  height: 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #F6DEB8;
  /*box-shadow: 0px 4px 10px rgba(246, 222, 184, 0.8);*/
  /*box-shadow: 0px 4px 10px rgba(197, 114, 132, 0.8);*/
}
.boton-negro:hover {
  background-color: #57659E;
  box-shadow: 0px 4px 10px rgba(68, 62, 70, 0.8);
}

.botonCeleste-borde-blanco {
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  border: white solid 2px;
  background-color:#B0C4DE;
  color: black;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}
.botonCeleste-borde-blanco:hover{
  background-color: #00008B;
  color: white;
  transform: scale(1.1); /* Aumenta el tama単o de la imagen al hacer hover */
}
.botonVerde-borde-blanco {
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  border: white solid 2px;
  background-color:chartreuse;
  color: black;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}
.botonVerde-borde-blanco:hover{
  background-color: red;
  color: white;
  transform: scale(1.1); /* Aumenta el tama単o de la imagen al hacer hover */
}

.botonAzul-borde-negro {
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  border: black solid 2px;
  background-color:#FFFFFF;
  color: black;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}
.botonAzul-borde-negro:hover{
  background-color: #00008B;
  color: white;
  transform: scale(1.1); /* Aumenta el tamanho de la imagen al hacer hover */
}

.botonCancelar {
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  border: white solid 2px;
  background-color:#fc2121;
  color: black;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}

.botonCancelar:hover{
  background-color: red;
  color: white;
  transform: scale(1.1); /* Aumenta el tama単o de la imagen al hacer hover */
}

.boton-close {
  color: white;
}
.boton-close:hover{
  color: darkred;
}
.fondo-verde {
  color: white;
  background-color: darkgreen;
}
.fondo-rojo {
  color: white;
  background-color: darkred;
}

.boton-borde-ubicacion {
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  border: white solid 2px;
  background-color:#B0C4DE;
  color: red;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
  font-weight: bold;
}
.boton-borde-ubicacion:hover{
  background-color: blue;
  color: white;
  border: blue solid 2px;
  transform: scale(1.1); /* Aumenta el tama単o de la imagen al hacer hover */
}