/* PALETA FORMOSA


Azul oscuro: #00008B (Dark Blue)
Azul marino: #0000CD (Medium Blue)
Azul cobalto: #0047AB
Azul cielo: #87CEEB
Celeste claro: #B0C4DE
Blanco: #FFFFFF

*/

#box-body-main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #FFFFFF, #0047AB);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-main-border {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B0C4DE;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#box-main-login {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 5px;
  background-color: #0047AB;
}
#box-logo {
  width: 100%;
  height: 8rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #ffd000;
  margin-bottom: 2rem;
}
#box-logo img {
  height: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.logo-porSiempreCompa {
  border-radius: 5px;
}


#box-form {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#form-login {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding-bottom: 0.8rem;
}
#box-inputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#box-inputs label {
  width: 80%;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.3rem;
}
#box-inputs input {
  width: 79%;
  height: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  background-color:aliceblue;
}

#box-form-button {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  #box-main-border {
    width: 60%;
} 
}