/* PALETA FORMOSA


Azul oscuro: #00008B (Dark Blue)
Azul marino: #0000CD (Medium Blue)
Azul cobalto: #0047AB
Azul cielo: #87CEEB
Celeste claro: #B0C4DE
Blanco: #FFFFFF

*/

#box-body-tables {
  width: 100%;
  /* min-height: 52rem; */
  min-height: 100vh;;
  background-color: #B0C4DE;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

#box-main-tables {
  width: 90%;
  height: auto;
  margin-top: 8.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: #0047AB;
  border: 2px solid #B0C4DE;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}
#box-names-tables {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-bottom: 2px solid #B0C4DE;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
#name-tables {
  width: 70%;
  height: auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#name-tables-buttons-first{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#name-tables-buttons-first button{
  background-color: #A9DFF7;
}
#name-tables-buttons-second{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#name-tables-buttons-second button{
  background-color: #A9DFF7;
}
#name-tables-buttons-third{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
}
#name-tables-buttons-third button{
  background-color: #A9DFF7;
}

#name-tables-buttons-fourth{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
}
#name-tables-buttons-fourth button{
  background-color: #A9DFF7;
}

#name-tables button{
  text-align: center;
  width: 6.5rem;
  margin: 0.3rem;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: bold;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}
#name-tables button:hover{
  background-color: white;
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al hacer hover */
}
#accion-tables {
  width: 25%;
  height: auto;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#box-filters-tables {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #B0C4DE;
}
#box-acciones-registro {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#box-acciones-registro p{
  color:white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 2rem;
  /* margin-right: 0.5rem; */
}
#box-acciones-registro p:hover{
  border-bottom: 1px solid #B0C4DE;
  color: #B0C4DE;
}
#box-text-activeTable{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#box-search-registro {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  gap: 0.5rem;
}
#box-search-registro p{
  color:white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#box-search-registro p:hover{
  border-bottom: 1px solid #B0C4DE;
  color: #B0C4DE;
}

#box-table-details {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
}
#box-table-details table{
  background-color: white;
  padding: 1rem;
  border-collapse: collapse; /* Para evitar que haya doble borde */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
#box-table-details table thead{
  border-bottom: 2px solid #444342;
  background-color: #B0C4DE;

}

#box-table-details table thead th{
  padding: 0.5rem;
  border: 1px solid black; /* Bordes de color negro */
  text-align: center; /* Alineación del texto */
}
#box-table-details table tbody{
  border: 1px solid black; /* Bordes de color negro */
}
/* Estilo para las filas alternas */
table tbody tr:nth-child(odd) {
  background-color: #FFFFFF; /* Blanco */
}

table tbody tr:nth-child(even) {
  background-color: #F2F2F2; /* Gris claro */
}


#box-table-details table tbody td{
  border: 1px solid black; /* Bordes de color negro */
  padding: 0.3rem;
}
#box-table-details table tbody td ul{
  list-style: none;
  padding: 0;
  text-align: center;
}
#box-table-details table tbody td li{
  margin-bottom: 0.3rem;
}
#box-table-details h3{
  color: white;
}



#box-footer-tables {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #B0C4DE;
}
#box-result-tables {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-result-tables h4{
  color: white;
}
#box-pagination-tables {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-pagination-tables button{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}
#box-pagination-tables #current-page{
  color: white;
}
#box-empty-table {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#box-empty-table img{
  width: 25rem;
  opacity: 0.6;
  border-radius: 5px;
}
#box-empty-table h2{
  font-size: 1.4rem;
  opacity: 0.6;
}

/* Modal */
.modalMostrarActivo {
  display: block;
  position: fixed; /* Fijo en relación al viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  z-index: 999; /* Debajo del modal pero encima de otros elementos */
}
.modalMostrarInactivo {
  display: none;
}

.box-close-modal {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #B0C4DE;
  padding-bottom: 1rem;
}
.box-close-modal p{
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.box-close-modal h3{
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
}
/*
.box-close-modal h4{
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.5rem;
}
  */


@media (max-width: 1024px) {
  #box-body-tables {
    min-height: 55rem;
  }

  #box-main-tables {
    width: 96%;
  }
}

@media (min-width: 1400px) {
  #box-body-tables {
    min-height: 100vh;
    /* padding-top: 2rem; */
  }

  #box-main-tables {
    width: 90%;
    /* height: auto; */
  }
}

.casilla-acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#casilla-accion-edit {
  background-color: #87CEEB;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

#casilla-accion-delete {
  background-color: #FF0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.boton-naranja {
  background-color: #B0C4DE;
  border: 1px solid #0047AB;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px;
  width: 7.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

#box-filter-evento-tables input {
  height: 1.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

#box-filter-evento-tables input:focus {
  border-color: #007bff;
  outline: none;
}