.box-modal-add-jurisdiccion {

    position: fixed;
    /* Fijo en relación al viewport */
    top: 50%;
    /* Centrado verticalmente */
    left: 50%;
    /* Centrado horizontalmente */
    transform: translate(-50%, -50%);
    /* Centrando */
    z-index: 1000;
    /* Asegurando que esté encima de otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para efecto de profundidad */
    border-radius: 8px;
    /* Bordes redondeados */
    width: 60%;
    max-height: 97vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid #B0C4DE;
    background-color: #0047AB;
}

.box-form-modal-agregarJurisdiccion {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-agregarJurisdiccion {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box-inputs-add-jurisdiccion {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-inputs-add-jurisdiccion label {
    width: 100%;
    margin-bottom: 0.3rem;
    color: white;
    font-size: 1.2rem;
}

.box-inputs-add-jurisdiccion input {
    margin-bottom: 1rem;
    height: 2rem;
}

.box-inputs-add-jurisdiccion select {
    margin-bottom: 1rem;
    height: 2rem;
    font-size: 0.9rem;
    line-height: 40px;
    padding: 0 8px;
}

.box-inputs-add-jurisdiccion h3 {
    color: white;
    padding: 0;
    margin: 0;
}

.box-inputs-add-jurisdiccion .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    max-height: 9rem;
    overflow-y: auto;
    padding-top: 5px;
    background-color: white;
    border-radius: 5px;
}

.box-inputs-add-jurisdiccion .checkbox-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    height: 16px
}

.box-inputs-add-jurisdiccion .checkbox-label input {
    margin-bottom: 5px;
    cursor: pointer;
}

.box-form-button-save-juris {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#box-list-barrios-seleccionados-jurisdiccion {
    height: 12rem;
    max-height: 12rem;
    width: 40%;
    color: white;
    overflow-y: auto;
    outline: 1px solid white;
    border-radius: 5px;
    padding: 10px 1em 10px 2em;
}

#box-list-barrios-seleccionados-jurisdiccion li {
    margin-bottom: 5px;
}